[Desktop Entry]
Name=Aqueducts
Comment=Aqueducts is a game that will teach you the basics of programming while having a lot of fun. Bring back the water to the village in this epic adventure.
Type=Application
Categories=Game;X-LearnToCode;
Keywords=game;programming;puzzle;casual;
Exec=aqueducts
Terminal=false
Icon=${SNAP}/meta/gui/icon.png
